<tr bgcolor="#ffffff">
    <td align="right" valign="top" bgcolor="#fffff0">
        <span class="label">$i18n.getText("ru.andreymarkelov.atlas.plugins.utils.uniquevalidator.jqlopt"):</span>
    </td>
    <td bgcolor="#ffffff" nowrap>
        <textarea id="jqlstr" rows="3" cols="60" name="jqlstr">$!jqlstr</textarea>
        <br><font size="1">$i18n.getText("ru.andreymarkelov.atlas.plugins.utils.uniquevalidator.jqloptdescr")</font>
    </td>
</tr>
<tr bgcolor="#ffffff">
    <td align="right" valign="top" bgcolor="#fffff0">
        <span class="label">$i18n.getText("ru.andreymarkelov.atlas.plugins.utils.uniquevalidator.propopt"):</span>
    </td>
    <td bgcolor="#ffffff" nowrap>
        <select id="cfId" name="cfId">
            #foreach($issueProp in $issueProps.entrySet())
            <option #if($!cfId == $issueProp.key)selected="selected"#end value="$issueProp.key">$issueProp.value</option>
            #end
        </select>
        <br><font size="1">$i18n.getText("ru.andreymarkelov.atlas.plugins.utils.uniquevalidator.propoptdescr")</font>
    </td>
</tr>
<tr bgcolor="#ffffff">
    <td align="right" valign="top" bgcolor="#fffff0">
        <span class="label">$i18n.getText("ru.andreymarkelov.atlas.plugins.utils.uniquevalidator.countopt"):</span>
    </td>
    <td bgcolor="#ffffff" nowrap>
        <input type="text" id="issuecount" name="issuecount" value="$issuecount"/>
        <br><font size="1">$i18n.getText("ru.andreymarkelov.atlas.plugins.utils.uniquevalidator.countoptdescr")</font>
    </td>
</tr>
<tr bgcolor="#ffffff">
    <td align="right" valign="top" bgcolor="#fffff0">
        <span class="label">$i18n.getText("ru.andreymarkelov.atlas.plugins.utils.uniquevalidator.erroropt"):</span>
    </td>
    <td bgcolor="#ffffff" nowrap>
        <textarea id="error" rows="3" cols="60" name="error">$!error</textarea>
        <br><font size="1">$i18n.getText("ru.andreymarkelov.atlas.plugins.utils.uniquevalidator.erroroptdescr")</font>
    </td>
</tr>